<!DOCTYPE html>
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="https://www.thymeleaf.org"
        lang="en">
<head>
    <title>Authentication page</title>

    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <script type="text/javascript" th:src="@{/js/bootstrap.bundle.min.js}"></script>
</head>

<body>

<div class="p-3 container">
    <h1>Authentication page</h1>

    <div th:if="${param.error}">
        <span class="alert-danger">Invalid username or password.</span>
    </div>

    <div th:if="${param.logout}">
        You have been logged out. You can register <a th:href="@{/registration}">here</a>
    </div>

    <form class="py-3" th:action="@{/login}" method="post">
        <div>
            <label class="form-label">User Name:
                <input class="form-control" type="text" name="username"/>
            </label>
        </div>

        <div>
            <label class="form-label">Password:
                <input class="form-control" type="password" name="password"/>
            </label>
        </div>

        <div>
            You can register <a th:href="@{/registration}">here</a>
        </div>

        <div><input class="btn btn-primary" type="submit" value="Sign In"/></div>
    </form>
</div>

</body>
</html>