<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="en">

<head th:replace="fragments/header.html :: html_head (title = 'Registration page')">
    <title></title>
</head>

<body>

<div th:replace="fragments/header.html :: navbar"></div>

<div class="container">
    <h2>Registration page</h2>

    <form th:action="@{/registration}" th:object="${user}" method="post">
        <div class="py-1" th:if="${#fields.hasErrors('global')}">
            <p th:each="err : ${#fields.errors('global')}" th:text="${err}" class="text-danger"/>
        </div>

        <div class="py-1">
            <label class="form-label">User Name:
                <input class="form-control" type="text" th:field="*{username}"/>
            </label>
            <p th:if="${#fields.hasErrors('username')}" th:class="text-danger" th:errors="*{username}"></p>
        </div>

        <div class="py-1">
            <label class="form-label">Password:
                <input class="form-control" type="password" th:field="*{password}" id="password"/>
            </label>
            <p th:if="${#fields.hasErrors('password')}" th:class="text-danger" th:errors="*{password}"></p>
        </div>

        <div class="py-1">
            <input class="btn btn-primary" type="submit" value="Registration"/>
        </div>
    </form>
</div>

<div th:replace="fragments/footer.html :: footer"></div>

</body>
</html>